body{
    padding: 0;
    margin: 0;
}

header {
    display: none;
}

.slogan {
    border-style: dashed !important;
    border-color: #c06701 !important;
    margin-top: 100px !important;
    margin-bottom: 50px;
}

footer {
    margin-top: 40px;
    background-color: chocolate;
    padding: 20px;
}